<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.mokshjn.cosmo">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/banner_tv"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="io.mokshjn.cosmo.helpers.CastOptionsProvider" />

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.Main">
        </activity>
        <activity
            android:name=".activities.FullScreenPlayerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.CosmoActivity"
            android:theme="@style/AppTheme.Player">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CosmoActivity" />
        </activity>
        <activity
            android:name=".activities.AlbumActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Album" />
        <activity
            android:name=".activities.SearchActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Translucent.Search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service
            android:name=".services.MusicService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.CosmoActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />

                <meta-data
                    android:name="android.app.shortcuts"
                    android:resource="@xml/shortcuts" />
            </intent-filter>
        </activity>
    </application>

</manifest>